.App {
  height: 100vh;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.header{
  margin: 30px 0 0px 0;

}
.header_image{
  height: 150px;
  width: auto;
  margin-bottom: 30px;
}
.header_title{
  font-size: 28px;
  color: rgb(63, 63, 63);
}
.addWish{
  display: flex;
  justify-content: space-evenly;
}
.wishList{
  display: flex;
  justify-content: center;
}
.footer{
  display:flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
}
